body {
    background-color:rgb(48, 48, 48);
    color:bisque;
}

header {
    background-color: black;
    padding: 15px;
    margin: -10px -10px 10px;
}

main, aside {
    margin: 10px;
    padding: 10px;
}

section, article {
    border-radius: 5px;
    background-color: rgb(75,75,75);
    margin: 5px;
    padding: 10px;
}

.flexbox {
    display: flex;
    flex-direction: row-reverse;
}

.flexbox > main {
    flex: 70%;
}

.flexbox > aside {
    flex: 30%;
}

@media screen and (max-width: 700px){
    .flexbox {
        flex-direction: column;
    }
}

h1 {color: white}
h2 {color: lightgrey}
a {color: lightgrey}
img {max-width: 450px}
video {width:480px; height:270px;}
